<div class="container">
  <div class="list-group py-4">
    <div *ngFor="let item of recipes">
      <a [routerLink]="['detail/',item.id]"
        class="list-group-item list-group-item-action d-flex align-items-center p-2">
        <img [src]="item.img_src" class="img-fluid rounded" style="height:70px" alt="{{ item.name }}" />
        <div class="ms-2 me-auto">
          <div class="fw-semibold">{{ item.name }}</div>
          <!-- {{ item.description | truncate:45}} -->
        </div>
      </a>
    </div>
  </div>
</div>