<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <a routerLink="" class="navbar-brand mb-0 h1">
      <span class="me-2">Recipe</span>
      <fa-icon [icon]="headericon"></fa-icon>
    </a>
    <button (click)="toggleNav()" class="navbar-toggler" type="button" data-bs-toggle="collapse"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="navToggle == true ? 'show' : ''">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipe" routerLinkActive="active">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping" routerLinkActive="active">Shopping List</a>
        </li>
      </ul>
    </div>

    <!-- <div class="navbar-nav flex-row flex-wrap ms-md-auto">
      <li class="nav-item dropdown">
        <button
          type="button"
          class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="true"
          data-bs-display="static"
        >
          Dropdown
        </button>

        <ul class="dropdown-menu dropdown-menu-end " data-bs-popper="static">
          <li><a class="dropdown-item">save data</a></li>
          <li><a class="dropdown-item">fetch data</a></li>
        </ul>
      </li>
    </div> -->
  </div>
</nav>