
<div class="card mt-3 mt-md-0" *ngIf="recipeDetail">
  <img src="{{ recipeDetail.img_src }}" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ recipeDetail.name }}</h5>
    <p class="card-text">{{ recipeDetail.description }}</p>
    <span [class]="['badge', getBg(recipeDetail.rating)]"><fa-icon [icon]="star"></fa-icon> {{recipeDetail.rating}}</span>
    <span class="mx-2">2495 Ratings</span> <a href="">Rate</a> <a class="ms-2" href="">951 comments</a>
  </div>

  <div class="card-body">
    <div class="d-grid gap-2">
      <a href="#" class="btn btn-warning">See Preparation</a>
      <a href="#" class="btn btn-danger">Add to Favourite</a>
    </div>
  </div>
</div>
