<form class="border p-3">
  <div class="row">
    <div class="col-md-8">
      <label class="form-label" for="name">Ingredient</label>
      <input type="text" class="form-control" id="name" #nameInput />
    </div>
    <div class="col-md-4">
      <label class="form-label" for="quantity">Quantity</label>
      <div class="input-group">
        <input type="number" class="form-control" id="quantity" #qtyInput/>
        <span class="input-group-text" id="basic-addon1">Kg</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex gap-2 mt-3 justify-content-md-end">
      <button type="submit" class="btn btn-success">Add</button>
      <button type="button" class="btn btn-danger">Delete</button>
      <button type="button" class="btn btn-secondary">Reset</button>
    </div>
  </div>
</form>
